{% extends 'base.html.twig' %}

{% block title %}Edit Recenze{% endblock %}

{% block content %}
    <h1>Edit Recenze</h1>

    {{ include('recenze/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recenze_index') }}">back to list</a>

    {{ include('recenze/_delete_form.html.twig') }}
{% endblock %}
