{% extends 'base.html.twig' %}

{% block title %}New Recenze{% endblock %}

{% block content %}
    <h1>Create new Recenze</h1>

    {{ include('recenze/_form.html.twig') }}

    <a href="{{ path('app_recenze_index') }}">back to list</a>
{% endblock %}
