{% extends 'base.html.twig' %}

{% block title %}Upravit stav příspěvku{% endblock %}

{% block content %}
    <h1>Upravit stav příspěvku</h1>

    {{ include('status-post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_status_post_index') }}">back to list</a>
{% endblock %}
