h1,
h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $dark;
}

p {
    font-size: 1rem;
    color: $dark;
}

.fs-14 {
    font-size: 0.875rem !important;
}

.lh-08 {
    line-height: 0.8;
}
