{% extends 'base.html.twig' %}

{% block title %}Nová recenze{% endblock %}

{% block content %}
    <h1>Vytvořit novú recenzi</h1>

    {{ include('review/_form.html.twig') }}

    <a href="{{ path('app_review_index') }}">back to list</a>
{% endblock %}
