.form-field {
    max-width: 240px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
