{% extends 'base.html.twig' %}

{% block title %}Články - Mordor{% endblock %}

{% block content %}
<div class="section-article">
    <h2>Články</h2>

    <h3 class="mt-4 fs-6 fw-bold">Nezveřejněné články</h3>
    <div class="article-list">
        <!-- Header Row -->
        <div class="article-list-header fs-14 fw-semibold text-light">
            <div class="article-list-cell">Datum</div>
            <div class="article-list-cell">Název</div>
            <div class="article-list-cell">Autor</div>
            <div class="article-list-cell">Náhled PDF</div>
            <div class="article-list-cell">Informace</div>
            <div class="article-list-cell"></div>
        </div>

        <!-- post Rows -->
        {# for article in unpublished_articles #}
            <div class="article-list-row fs-6 fw-semibold text-dark">
                <div class="article-list-cell">date</div>
                <div class="article-list-cell">title</div>
                <div class="article-list-cell">author</div>
                <div class="article-list-cell">
                    <a href="" class="btn btn-primary">Stáhnout</a>
                </div>
                <div class="article-list-cell">
                    <a href="">Více informací</a>
                </div>
                <div class="article-list-cell">
                    <a href="" class="btn btn-primary">Zveřejnit</a>
                </div>
            </div>
        {# endfor #}
    </div>

    <h3 class="mt-5 fs-6 fw-bold">Zveřejněné články</h3>
    <div class="article-list">
        <!-- Header Row -->
        <div class="article-list-header fs-14 fw-semibold text-light">
            <div class="article-list-cell">Datum</div>
            <div class="article-list-cell">Název</div>
            <div class="article-list-cell">Autor</div>
            <div class="article-list-cell">Náhled PDF</div>
            <div class="article-list-cell">Informace</div>
        </div>

        <!-- post Rows -->
        {# for article in published_articles #}
            <div class="article-list-row fs-6 fw-semibold text-dark">
                <div class="article-list-cell">date</div>
                <div class="article-list-cell">title</div>
                <div class="article-list-cell">author</div>
                <div class="article-list-cell">
                    <a href="" class="btn btn-primary">Stáhnout</a>
                </div>
                <div class="article-list-cell">
                    <a href="">Více informací</a>
                </div>
            </div>
        {# endfor #}
    </div>
</div>
{% endblock %}
