{% extends 'base.html.twig' %}

{% block title %}Edit Prispevek{% endblock %}

{% block content %}
    <h1>Edit Prispevek</h1>

    {{ include('prispevek/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_prispevek_index') }}">back to list</a>

    {{ include('prispevek/_delete_form.html.twig') }}
{% endblock %}
