{% extends 'base.html.twig' %}

{% block title %}Editovat Přispěvek{% endblock %}

{% block content %}
    <h1>Editovat Přispěvek</h1>

    {{ include('prispevek/_form.html.twig', {'button_label': 'Updatovat'}) }}

    <a href="{{ path('app_prispevek_index') }}">Zpět</a>

    {{ include('prispevek/_delete_form.html.twig') }}
{% endblock %}
