{% extends 'base.html.twig' %}

{% block title %}New Prispevek{% endblock %}

{% block content %}
    <h1>Create new Prispevek</h1>

    {{ include('prispevek/_form.html.twig') }}

    <a href="{{ path('app_prispevek_index') }}">back to list</a>
{% endblock %}
