{% extends 'base.html.twig' %}

{% block title %}Nový příspěvek{% endblock %}

{% block content %}
    <h1>Nový příspěvek</h1>

    {{ include('prispevek/_form.html.twig') }}

    <a href="{{ path('app_prispevek_index') }}">Zpět</a>
{% endblock %}
