{% extends 'base.html.twig' %}

{% block title %}Redaktor{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    <a href="{{ path('app_reviews') }}" class="btn btn-primary" type="btn">Články \ Stavy</a>
    <a href="{{ path('app_responses') }}" class="btn btn-primary" type="btn">Reakce</a>

{% endblock %}


