{% extends 'base.html.twig' %}

{% block body %}
    <h1>Select Reviewer</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save Reviewer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_editor') }}">back to list</a>

{% endblock %}
