<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Default Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container__main">
            <aside>
                <header>
                    <h1 class="heading">
                        <strong>Mordor</strong><span>Časopis VŠPJ</span>
                    </h1>
                </header>
                {% block user %}
                <!-- Přihlášený uživatel -->
                {% endblock %} {% block navbar %}
                <!-- Odkazy na články, přihlášení, atd. -->
                {% endblock %}
            </aside>
            <div class="wrapper">
                <div class="statement">
                    <p>
                        Tato aplikace je výsledkem školního projektu v kurzu
                        Řízení SW projektů na Vysoké škole polytechnické
                        Jihlava.
                        <br />
                        Nejedná se o stránky skutečného odborného časopisu!
                    </p>
                </div>
                <main>
                    {% block content %}
                    <!-- Jedinečný obsah pro každou stránku -->
                    {% endblock %}
                </main>
                <footer class="footer">
                    <div class="footer__left">Mordor</div>
                    <div class="footer__right">
                        &copy; 2023 | All rights reserved.
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
