<!-- navbar.html.twig -->
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_home') }}">O časopisu</a>
</li>
<!-- Zde přidáte další navigační odkazy -->
{% endblock %}
