{% extends 'base.html.twig' %}

{% block title %}Nový příspěvek{% endblock %}

{% block content %}
    <h1>Nový příspěvek</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">Zpět</a>
{% endblock %}
