{% extends 'base.html.twig' %}

{% block title %}Vytvořit příspěvek{% endblock %}

{% block content %}
    <h1>Vytvořit nový příspěvek</h1>

    {{ include('Post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">back to list</a>
{% endblock %}
