<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Opravdu chcete smazat tento záznam?');" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-secondary mt-3">Smazat</button>
</form>
