{% extends 'base.html.twig' %}

{% block title %}Upravit uživatele{% endblock %}

{% block content %}
    <div class="container mt-4 edit-container">
        <h1>Upravit uživatele</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-secondary mt-2" href="{{ path('app_admin') }}">Zpět na Dashboard</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
