{% extends 'base.html.twig' %}

{% block title %}Vytvořit uživatele{% endblock %}

{% block content %}
    <h1>Vytvořit uživatele</h1>

    {{ include('User/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
