{% extends 'base.html.twig' %}

{% block title %}Edit Osoba{% endblock %}

{% block content %}
    <div class="container mt-4 edit-container">
        <h1>Edit Osoba</h1>

        {{ include('Osoba/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-secondary mt-2" href="{{ path('app_osoba_index') }}">Back to List</a>

        {{ include('Osoba/_delete_form.html.twig') }}
    </div>
{% endblock %}
