{% extends 'base.html.twig' %}

{% block title %}Edit Osoba{% endblock %}

{% block content %}
    <div class="container mt-4 edit-container">
        <h1>Edit Osoba</h1>

        {{ include('osoba/_form.html.twig', {'button_label': 'Změnit'}) }}

        <a class="btn btn-secondary mt-2" href="{{ path('app_admin') }}">Zpět na Dashboard</a>

        {{ include('osoba/_delete_form.html.twig') }}
    </div>
{% endblock %}
