{% extends 'base.html.twig' %}

{% block title %}New Osoba{% endblock %}

{% block content %}
    <h1>Create new Osoba</h1>

    {{ include('Osoba/_form.html.twig') }}

    <a href="{{ path('app_osoba_index') }}">back to list</a>
{% endblock %}
