{# templates/Osoba/Osoba_template.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>holik07</title>
</head>
<body>
    <h1>holik07 template!</h1>
    <p>This is some content in the template.</p>
</body>
</html>
